# Let's Encrypt account email - expiry warnings and recovery contact
ACME_EMAIL=you@example.com

AIOSTREAMS_HOST=aiostreams.yourdomain.com
AIOMETADATA_HOST=meta.yourdomain.com
BESZEL_HOST=stats.yourdomain.com

# openssl rand -hex 32
SECRET_KEY=

# From Beszel's "Add System" screen after first login
BESZEL_KEY=
BESZEL_TOKEN=
